{% extends "thin/base.html" %}

{% block content %}
<script src="{{ STATIC_URL }}js/comparisons.js"></script>
<div class="panel panel-default">
<div class="panel-heading">
  <h3 class="panel-title">{{comparison.name}}</h3>
  <a href="{% url 'comparison_edit' comparison.id %}" class="btn btn-primary btn-xs pull-right"> Edit </a></li>
</div>
    <table class="table table-striped" style="cursor: pointer;">
        {% if comparison_entries %}
        <thead>
            <tr>
                <th class="comp">Transcription</th>
                <th class="comp">Current</th>
                <th class="comp">Group</th>
                <th class="comp">Exclude</th>
            </tr>
        </thead>
        {% endif %}
        {% for comparison_entry in comparison_entries %}
            <tr class="trans-form">
              <td><div class="form-control trans-form">{{ comparison_entry.transcription.ipa }}</div></td>
              <td><input style="width: inherit; display: inline-block;" class="form-control" id="group1" disabled="disabled"/><span class="label label-info current" id="{{ comparison_entry.id }}" style="display: inline-block;"></span></td>
              <td><input class="form-control" size="1"></td>
              <td align="center"><input type="checkbox"></td>
            </tr>
        {% empty %}
            <tr>
                <td>No transcriptions with this comparison.</td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
