{# Dictionary Detail #}
{% extends "thin/base.html" %}
{% load utils %}

{% block content %}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Glosses</h3>
    {% url 'gloss_add' dictionary.id as gloss_add_path %}
    {% blink_to gloss_add_path "Add New Glosses" "btn-primary btn-xs pull-right" %}
  </div>
  <table class="table table-striped" id='table'>
    {% if glosses %}
    <thead>
    <tr>
      <th>Primary</th>
      <th>Secondary</th>
      <th>POS</th>
      <th>Field Tip</th>
      <th>Comment Tip</th>
      <th></th>
    </tr>
    </thead>
    {% endif %}
    <tbody>
    {% for gloss in glosses %}
      <tr>
        <td>{{ gloss.primary }}</td>
        <td>{{ gloss.secondary }}</td>
        <td>{{ gloss.part_of_speech }}</td>
        <td>{{ gloss.field_tip }}</td>
        <td>{{ gloss.comment_tip }}</td>
        {% url 'gloss_edit' gloss.id as gloss_edit_path %}
        <td>{% link_to gloss_edit_path "Edit" "pull-right" %}</td>
      </tr>
    {% empty %}
    <tr>
        <td>Currently no glosses in this dictionary.</td>
        <td></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
