{# Dictionary Detail #}
{% extends "thin/base.html" %}

{% block content %}


<span><strong>Dictionary Name:</strong>
    {{dictionary.name}} : <a href="{% url 'dictionary_edit' dictionary.id %}">Edit</a>
</span>


<hr>

<h4><strong>Surveys</strong></h4>

<div>
    {% if surveys %}
        <ul>
        {% for survey in surveys %}
            <li>
                <a href="{% url 'survey_detail' survey.id %}">{{ survey.name }}</a> :
                <a href="{% url 'survey_edit' survey.id %}">Edit</a>
            </li>
        {% endfor %}
        </ul>
        <a href = "{% url 'survey_add' dictionary.id %}" class="btn btn-primary">Add Survey</a>
    {% else %}
    <ul>
        <li>There are no surveys</li>
        <span>Would you like to <a href="{% url 'survey_add' dictionary.id %}">Add a New Survey</a>?</span>
    </ul>
    {% endif %}
</div>

<hr>

<h4><strong>Glosses</strong></h4>

<table class="table table-striped" id='table'>
        <thead>
        <tr>
            <th>Primary</th>
            <th>Secondary</th>
            <th>POS</th>
            <th>Field Tip</th>
            <th>Comment Tip</th>
        </tr>
        </thead>
        <tbody>
        {% for gloss in glosses %}
        <tr>
            <td>{{ gloss.primary }}</td>
            <td>{{ gloss.secondary }}</td>
            <td>{{ gloss.part_of_speech }}</td>
            <td>{{ gloss.field_tip }}</td>
            <td>{{ gloss.comment_tip }}</td>
            <td><a href="{% url 'gloss_edit' gloss.id %}">Edit</a></td>
        </tr>
        {% endfor %}
        <tr>
            <td>
                <a href="{% url 'gloss_add' dictionary.id %}" class="btn btn-primary">Add New Glosses</a>
            </td>
        </tr>
        </tbody>
</table>

{% endblock %}
