{% extends "thin/base.html" %}

{% load utils %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Associated Dictionaries</h3>
      {% url 'dictionary_add' project.id as dictionary_add_path %}
      {% blink_to dictionary_add_path "Create New Dictionary" "btn-primary btn-xs pull-right" %}
    </div>
    <table class="table table-striped">
      {% for dictionary in dictionaries %}
        <tr>
          <td><a href="{{ dictionary.get_absolute_url }}">{{ dictionary.name }}</a></td>
          {% url 'dictionary_edit' dictionary.id as dictionary_edit_path %}
          <td>{% link_to dictionary_edit_path "Edit" "pull-right" %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
<div class="well well-sm">
    Surveys in this project:
    <ul>
        {% for survey in surveys %}
        <li>
            <a href="{{ survey.get_absolute_url }}">{{ survey.name }}</a>
            {% url 'survey_edit' survey.id as survey_edit_path %}
            {% blink_to survey_edit_path "Edit" "btn-warning btn-xs" %}
        </li>
        {% empty %}
        <li>There are currently no surveys for this project.</li>
        {% endfor %}
    </ul>
    {% url 'survey_add' project.id as survey_add_path %}
    {% blink_to survey_add_path "Add" "btn-primary btn-xs" %}
</div>
{% endblock %}
