{% extends 'thin/base.html' %}

{% block content %}

<p>Current Survey:</p>
<li>{{survey.name}} : <a href="{% url 'survey_edit' survey.id %}">Edit </a></li>

<ul>
{% for variety in varieties %}
<li>
  <a href='{% url 'variety_detail' variety.id %}'>{{ variety.name }}</a>
  <a href='{% url 'variety_edit' variety.id %}'>Edit</a>
</li>
{% endfor %}
</ul>

<a href="{% url 'variety_add' survey.id %}" class='btn btn-primary'>Add a new variety</a>

<hr/>

<p>Comparisons: </p>

<ul>
    {% for comparison in comparisons %}
        <li>
            <a href="{% url 'comparison_detail' comparison.id %}">{{ comparison.name }}</a>
            <a href="{% url 'comparison_edit' comparison.id %}">Edit</a>
        </li>
    {% endfor %}
</ul>
<a href="{% url 'comparison_add' survey.id %}" class="btn btn-primary">Add New Comparison</a>

{% endblock %}
