{% extends "thin/base.html" %}
{% load utils %}
{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Varieties</h3>
      {% url 'variety_add' survey.id as variety_add_path %}
      {% blink_to variety_add_path "Create New Variety" "btn-primary btn-xs pull-right" %}
    </div>
    <table class="table table-striped">
      {% for variety in varieties %}
        <tr>
          <td><a href='{{ variety.get_absolute_url }}'>{{ variety }}</a></td>
          {% url 'variety_edit' variety.id as variety_edit_path %}
          <td>{% link_to variety_edit_path "Edit" "pull-right" %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Comparisons</h3>
      {% url 'comparison_add' comparison.id as comparison_add_path %}
      {% blink_to comparison_add_path "Create New Comparison" "btn-primary btn-xs pull-right" %}
    </div>
    <table class="table table-striped">
      {% for comparison in comparisons %}
        <tr>
          <td><a href='{{ comparison.get_absolute_url }}'>{{ comparison }}</a></td>
          {% url 'comparison_edit' comparison.id as comparison_edit_path %}
          <td>{% link_to comparison_edit_path "Edit" "pull-right" %}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}