{% extends 'thin/base.html' %}

{% block content %}
  <script src="http://static.typeit.org/typeit2.mini.js?68"></script>
  {{ variety.name }} : <a href="{% url 'variety_edit' variety.id %}">Edit </a>

  <ul>
    {% for transcript in transcripts %}
      <li>{{ transcript.gloss }} | {{ transcript.ipa }}</li>

    {% endfor %}
  </ul>
  <input type="text"/>

  <table>
  <tbody>
  <tr>
    <td>

      <div id="typeit_editbuttons">
        <button id="bold" title="boldface current selection (press Ctrl+B after selecting some text)" type="button"
                onclick="command('Bold');" style="font-weight: bold; visibility: inherit;">B
        </button>
        <button style="visibility: inherit;" id="italic"
                title="italicize current selection (press Ctrl+I after selecting some text)" type="button"
                onclick="command('Italic');"><i>I</i></button>
        <button style="visibility: inherit;" id="under"
                title="underline current selection (press Ctrl+U after selecting some text)" type="button"
                onclick="command('Underline');"><span style="text-decoration: underline">U</span></button>
        <button style="visibility: inherit;" id="superscript"
                title="superscript current selection (press Ctrl+↑ after selecting some text)" type="button"
                onclick="command('Superscript');"><sup>S</sup></button>
        <button style="visibility: inherit;" id="subscript"
                title="subscript current selection (press Ctrl+↓ after selecting some text)" type="button"
                onclick="command('Subscript');"><sub>S</sub></button>
        <button style="visibility: inherit;" id="deformat"
                title="remove formatting from current selection (press Ctrl+Space after selecting some text)"
                type="button" onclick="command('RemoveFormat');">R
        </button>
        &nbsp;
        <button id="copyall" title="copy the contents of the box so you can paste it somewhere else" type="button"
                style="width: auto; display: none;" onclick="command('SelectAll'); command('Copy');">Copy all
        </button>
        <button id="selectall" title="select the contents of the box so you can copy &amp; paste it somewhere else"
                type="button" style="width: auto; visibility: inherit;" onclick="command('SelectAll');">Select all
        </button>
        &nbsp;
        <button id="undo" title="undo last operation" type="button" style="width: auto; visibility: inherit;"
                onclick="command('Undo');">Undo
        </button>
        <button id="redo" title="redo last undone operation" type="button" style="width: auto; visibility: inherit;"
                onclick="command('Redo');">Redo
        </button>
        &nbsp;
        <button id="clear" title="remove all text" type="button" style="width: auto; visibility: inherit;"
                onclick="command('ClearAll');">Clear all
        </button>
      </div>

    </td>
  </tr>
  <tr>
  <td>

  <div id="tip"><span class="popuphelp kbdhelp" title="click for help" data-popup_title="<p>Want to type faster? You can use keyboard shortcuts with the <kbd>Ctrl</kbd> key. For example, to type <span class=char>β</span>, <span class=char>ɓ</span> or <span class=char>ʙ</span>, hold <kbd>Ctrl</kbd> and press <kbd>B</kbd> one, two or three times.</p>
        <p>Point at a button to see its shortcut.</p>"><img src="http://static.typeit.org/kbd.png?68" alt=""><span
      class="link">keyboard shortcuts help</span></span> • <a href="http://ipa.typeit.org/"
                                                              onclick="makeCrossDomainSave = true"
                                                              style="color: #cf4b26; color: #444">IPA keyboard for
    English</a>
    • Pop-up IPA chart: <span class="link"
                              onclick="showImage('http://static.typeit.org/ipa-consonants.png?68', 844, 570)"
                              title="show IPA consonants chart">consonants</span>
    • <span class="link" onclick="showImage('http://static.typeit.org/ipa-vowels.png?68', 427, 350)"
            title="show IPA vowels chart">vowels</span>
    <!--| <a href="#" onclick="highlights.saveStateInCookie()">Save state</a> <a href="#" onclick="highlights.restoreStateFromCookie()">Restore state</a>-->
  </div>
  <div id="typeit_buttons" class="compact">
  <div class="buttons">
            <span class="keyblock">
              <label>A</label>
              <button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="a script" type="button" title="open back unrounded vowel (Ctrl+A)">ɑ
              </button>
              <button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="ae ipa" type="button" title="near-open front unrounded vowel (Ctrl+AA)">æ
              </button>
              <button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="a upside" type="button" title="near-open central vowel (Ctrl+AAA)">ɐ
              </button>
              <button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="a script nasalized" type="button" title="nasalized open back unrounded vowel (Ctrl+AAAA)">ɑ̃
              </button></span>
            <span class="keyblock">
              <label>B</label>
              <button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="beta" type="button" title="voiced bilabial fricative (Ctrl+B)">β
              </button>
              <button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="b hook" type="button" title="voiced bilabial implosive (Ctrl+BB)">ɓ
              </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="B small" type="button" title="bilabial trill (Ctrl+BBB)">ʙ
            </button></span><span class="keyblock"><label>C</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="c loop" type="button" title="voiceless alveo-palatal fricative (Ctrl+C)">ɕ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="c cedil ipa" type="button" title="voiceless palatal fricative (Ctrl+CC)">ç
  </button></span><span class="keyblock"><label>D</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="eth ipa" type="button" title="voiced dental fricative (Ctrl+D)">ð
  </button><button name="dzh" type="button" title="voiced postalveolar affricate (Ctrl+DD)"
                   style="width: 25px; visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    d͡ʒ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="d hook low" type="button" title="voiced retroflex plosive (Ctrl+DDD)">ɖ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="d hook high" type="button" title="voiced alveolar implosive (Ctrl+DDDD)">ɗ
  </button></span><span class="keyblock"><label>E</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="schwa" type="button" title="mid-central vowel (Ctrl+E)">ə
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="schwa rhotic" type="button" title="rhotacized mid-central vowel (Ctrl+EE)">ɚ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="schwa closed" type="button" title="close-mid central rounded vowel (Ctrl+EEE)">ɵ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="schwa upside" type="button" title="close-mid central unrounded vowel (Ctrl+EEEE)">ɘ
  </button></span>
  </div>
  <div class="buttons">
            <span class="keyblock"><label>3</label><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="epsilon" type="button" title="open-mid front unrounded vowel (Ctrl+3)">ɛ
            </button><button
                style="visibility: inherit; text-shadow: 0px 0px 2px rgb(0, 204, 255), 0px 0px 4px rgb(0, 204, 255), 0px 0px 10px rgb(0, 204, 255), 0px 0px 15px rgb(0, 204, 255); background-color: rgb(229, 229, 229); color: rgb(0, 0, 0); transition: text-shadow 0.25s ease 0s;"
                name="epsilon flipped" type="button" title="open-mid central unrounded vowel (Ctrl+33)">ɜ
            </button><button
                style="visibility: inherit; text-shadow: 0px 0px 2px rgb(3, 204, 255), 0px 0px 4px rgb(3, 204, 255), 0px 0px 10px rgb(3, 204, 255), 0px 0px 15px rgb(3, 204, 255); background-color: rgb(229, 229, 229); color: rgb(1, 1, 1); transition: text-shadow 0.25s ease 0s;"
                name="epsilon flipped rhotic" type="button"
                title="rhotacized open-mid central unrounded vowel (Ctrl+333)">ɝ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="epsilon nasalized" type="button" title="nasalized open-mid front unrounded vowel (Ctrl+3333)">ɛ̃
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="epsilon flipped closed" type="button" title="open-mid central rounded vowel (Ctrl+33333)">ɞ
            </button></span><span class="keyblock"><label>G</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="g hook" type="button" title="voiced velar implosive (Ctrl+G)">ɠ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="G small" type="button" title="voiced uvular plosive (Ctrl+GG)">ɢ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="G small hook" type="button" title="voiced uvular implosive (Ctrl+GGG)">ʛ
  </button></span><span class="keyblock"><label>H</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="h upside" type="button" title="labial-palatal approximant (Ctrl+H)">ɥ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="h hook" type="button" title="voiced glottal fricative (Ctrl+HH)">ɦ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="h barred" type="button" title="voiceless pharyngeal fricative (Ctrl+HHH)">ħ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="h low hook" type="button" title="Sje-sound (Ctrl+HHHH)">ɧ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="H small" type="button" title="voiceless epiglottal fricative (Ctrl+HHHHH)">ʜ
  </button></span><span class="keyblock"><label>I</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="I small" type="button" title="near-close near-front unrounded vowel (Ctrl+I)">ɪ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="schwi" type="button" title="near-close central unrounded vowel (Ctrl+II)">ɪ̈
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="i barred" type="button" title="close central unrounded vowel (Ctrl+III)">ɨ
  </button></span><span class="keyblock"><label>J</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="j loop" type="button" title="voiced palatal fricative (Ctrl+J)">ʝ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="j barred" type="button" title="voiced palatal plosive (Ctrl+JJ)">ɟ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="j mirrored" type="button" title="voiced palatal implosive (Ctrl+JJJ)">ʄ
  </button></span>
  </div>
  <div class="buttons">
            <span class="keyblock"><label>L</label><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="l wave" type="button" title="velarized alveolar lateral approximant (Ctrl+L)">ɫ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="l loop" type="button" title="voiceless alveolar lateral fricative (Ctrl+LL)">ɬ
            </button><button
                style="visibility: inherit; text-shadow: 0px 0px 2px rgb(5, 205, 254), 0px 0px 4px rgb(5, 205, 254), 0px 0px 10px rgb(5, 205, 254), 0px 0px 15px rgb(5, 205, 254); background-color: rgb(229, 229, 229); color: rgb(1, 1, 1); transition: text-shadow 0.25s ease 0s;"
                name="L small" type="button" title="velar lateral approximant (Ctrl+LLL)">ʟ
            </button><button
                style="visibility: inherit; text-shadow: 0px 0px 2px rgb(8, 205, 254), 0px 0px 4px rgb(8, 205, 254), 0px 0px 10px rgb(8, 205, 254), 0px 0px 15px rgb(8, 205, 254); background-color: rgb(229, 229, 229); color: rgb(2, 2, 2); transition: text-shadow 0.25s ease 0s;"
                name="l long" type="button" title="retroflex lateral approximant (Ctrl+LLLL)">ɭ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="lzh" type="button" title="voiced alveolar lateral fricative (Ctrl+LLLLL)">ɮ
            </button></span><span class="keyblock"><label>M</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="m hook" type="button" title="labiodental nasal (Ctrl+M)">ɱ
  </button></span><span class="keyblock"><label>N</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="ng" type="button" title="velar nasal (Ctrl+N)">ŋ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="n hook left" type="button" title="palatal nasal (Ctrl+NN)">ɲ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="N small" type="button" title="uvular nasal (Ctrl+NNN)">ɴ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="n hook right" type="button" title="retroflex nasal (Ctrl+NNNN)">ɳ
  </button></span><span class="keyblock"><label>O</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="o open" type="button" title="open-mid back rounded vowel (Ctrl+O)">ɔ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="oe ipa" type="button" title="open-mid front rounded vowel (Ctrl+OO)">œ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="o stroke ipa" type="button" title="close-mid front rounded vowel (Ctrl+OOO)">ø
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="a script upside" type="button" title="open back rounded vowel (Ctrl+OOOO)">ɒ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="o open nasalized" type="button" title="nasalized open-mid back rounded vowel (Ctrl+OOOOO)">ɔ̃
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="OE small" type="button" title="open front rounded vowel (Ctrl+OOOOOO)">ɶ
  </button></span><span class="keyblock"><label>P</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="phi" type="button" title="voiceless bilabial fricative (Ctrl+P)">ɸ
  </button></span>
  </div>
  <div class="buttons">
            <span class="keyblock"><label>R</label><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="r tap" type="button" title="alveolar tap (Ctrl+R)">ɾ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="R small upside" type="button" title="voiced uvular fricative (Ctrl+RR)">ʁ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="r upside" type="button" title="alveolar approximant (Ctrl+RRR)">ɹ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="r upside hook" type="button" title="retroflex approximant (Ctrl+RRRR)">ɻ
            </button><button
                style="visibility: inherit; text-shadow: 0px 0px 2px rgb(11, 205, 254), 0px 0px 4px rgb(11, 205, 254), 0px 0px 10px rgb(11, 205, 254), 0px 0px 15px rgb(11, 205, 254); background-color: rgb(229, 229, 229); color: rgb(2, 2, 2); transition: text-shadow 0.25s ease 0s;"
                name="R small" type="button" title="uvular trill (Ctrl+RRRRR)">ʀ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="r hook" type="button" title="retroflex flap (Ctrl+RRRRRR)">ɽ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="r upside long" type="button" title="alveolar lateral flap (Ctrl+RRRRRRR)">ɺ
            </button></span><span class="keyblock"><label>S</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="sh" type="button" title="voiceless postalveolar fricative (Ctrl+S)">ʃ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="s hook" type="button" title="voiceless retroflex fricative (Ctrl+SS)">ʂ
  </button></span><span class="keyblock"><label>T</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="theta" type="button" title="voiceless dental fricative (Ctrl+T)">θ
  </button><button name="tsh" type="button" title="voiceless postalveolar affricate (Ctrl+TT)"
                   style="width: 23px; padding-right: 3px; visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    t͡ʃ
  </button><button name="ts" type="button" title="voiceless alveolar affricate (Ctrl+TTT)"
                   style="width: 23px; visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    t͡s
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="t long" type="button" title="voiceless retroflex plosive (Ctrl+TTTT)">ʈ
  </button></span><span class="keyblock"><label>U</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="u horseshoe" type="button" title="near-close near-back rounded vowel (Ctrl+U)">ʊ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="schwu" type="button" title="near-close central rounded vowel (Ctrl+UU)">ʊ̈
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="u barred" type="button" title="close central rounded vowel (Ctrl+UUU)">ʉ
  </button></span><span class="keyblock"><label>V</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="v upside" type="button" title="open-mid back unrounded vowel (Ctrl+V)">ʌ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="v smooth" type="button" title="labiodental approximant (Ctrl+VV)">ʋ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="v hook" type="button" title="labiodental flap (Ctrl+VVV)">ⱱ
  </button></span>
  </div>
  <div class="buttons">
            <span class="keyblock"><label>W</label><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="w upside" type="button" title="voiceless labio-velar approximant (Ctrl+W)">ʍ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="u extra bowl" type="button" title="close back unrounded vowel (Ctrl+WW)">ɯ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="u extra bowl hook" type="button" title="velar approximant (Ctrl+WWW)">ɰ
            </button></span><span class="keyblock"><label>X</label><button
      style="visibility: inherit; text-shadow: 0px 0px 2px rgb(6, 205, 254), 0px 0px 4px rgb(6, 205, 254), 0px 0px 10px rgb(6, 205, 254), 0px 0px 15px rgb(6, 205, 254); background-color: rgb(229, 229, 229); color: rgb(1, 1, 1); transition: text-shadow 0.25s ease 0s;"
      name="chi" type="button" title="voiceless uvular fricative (Ctrl+X)">χ
  </button></span><span class="keyblock"><label>Y</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="y upside" type="button" title="palatal lateral approximant (Ctrl+Y)">ʎ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="gamma" type="button" title="voiced velar fricative (Ctrl+YY)">ɣ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="Y small" type="button" title="near-close near-front rounded vowel (Ctrl+YYY)">ʏ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="rams horns" type="button" title="close-mid back unrounded vowel (Ctrl+YYYY)">ɤ
  </button></span><span class="keyblock"><label>Z</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="zh" type="button" title="voiced postalveolar fricative (Ctrl+Z)">ʒ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="z hook" type="button" title="voiced retroflex fricative (Ctrl+ZZ)">ʐ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="z loop" type="button" title="voiced alveolo-palatal fricative (Ctrl+ZZZ)">ʑ
  </button></span><span class="keyblock"><label>2</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="glottal stop" type="button" title="glottal stop (Ctrl+2)">ʔ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="glottal stop flipped" type="button" title="voiced pharyngeal fricative (Ctrl+22)">ʕ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="glottal stop flipped barred" type="button" title="voiced epiglottal fricative (Ctrl+222)">ʢ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="glottal stop barred" type="button" title="epiglottal plosive (Ctrl+2222)">ʡ
  </button></span><span class="keyblock extra"><button name="minor group" type="button"
                                                       title="minor group (Ctrl+Q or Ctrl+/)"
                                                       style="width: 20px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    |
  </button><button name="major group" type="button" title="major group (Ctrl+QQ or Ctrl+/)"
                   style="width: 20px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    ‖
  </button><button name="zero" type="button" title="zero (Ctrl+0)"
                   style="width: 23px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    ∅
  </button></span>
  </div>
  <div class="buttons">
            <span class="keyblock extra taller"><label>1</label><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="primary stress" type="button"
                title="primary stress (Ctrl+1 / Ctrl+, [comma] / Hold Ctrl and press ' twice)">ˈ
            </button><button
                style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                name="secondary stress" type="button"
                title="secondary stress (Ctrl+11 / hold Ctrl and press , [comma] twice)">ˌ
            </button></span><span class="keyblock extra taller"><label title="period">.</label><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="length mark" type="button" title="length mark (hold Ctrl and press . [period] or ; [semicolon])">ː
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="half length mark" type="button"
      title="half-long (hold Ctrl and press . [period] or ; [semicolon] twice)">ˑ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
      name="extra short" type="button"
      title="extra short (hold Ctrl and press . [period] or ; [semicolon] three times)">&nbsp;̆
  </button></span><span class="keyblock extra taller"><label title="space">␣</label><button name="tie bar upper"
                                                                                            type="button"
                                                                                            title="tie bar (Ctrl+Space or Ctrl+Shift+U)"
                                                                                            style="width: 23px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
     ͡&nbsp;</button><button name="tie bar lower" type="button"
                             title="tie bar (Ctrl+Space+Space or Ctrl+Shift+UU)"
                             style="width: 21px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
     ͜&nbsp;</button><button name="linking" type="button"
                             title="linking (Ctrl+Space+Space+Space or Ctrl+Shift+UUU)"
                             style="width: 19px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;">
    ‿
  </button></span><span class="keyblock extra taller combining"><button name="becomes" type="button"
                                                                        title="becomes (Ctrl+→→→)"
                                                                        style="width: 22px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;">
    →
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="centralized" type="button" title="centralized (Ctrl+Shift+.)" class="larger"> ̈
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="nasalized" type="button" title="nasalized (Ctrl+Shift+S)" class="larger"> ̃
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="voiceless" type="button" title="voiceless (Ctrl+Shift+O)"> ̥
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="voiceless high" type="button" title="voiceless (Ctrl+Shift+OO)"> ̊
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="voiced" type="button" title="voiced (Ctrl+Shift+V)" class="larger"> ̬
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="syllabic" type="button" title="syllabic (Ctrl+Shift+I)" class="larger"> ̩
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="non-syllabic" type="button" title="non-syllabic (Ctrl+Shift+C)" class="larger"> ̯
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="schwa superscript" type="button" title="syllabic or schwa (Ctrl+Shift+E)">ᵊ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="r superscript" type="button" title="optional r (Ctrl+Shift+R)">ʳ
  </button><button name="rhotacized" type="button" title="rhotacized (Ctrl+Shift+RR)"
                   style="padding-right: 3px; visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;">
     ˞
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="aspirated" type="button" title="aspirated (Ctrl+Shift+H)">ʰ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="labialized" type="button" title="labialized (Ctrl+Shift+W)">ʷ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="palatalized" type="button" title="palatalized (Ctrl+Shift+J)">ʲ
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="raised" type="button" title="raised (Ctrl+↑)" class="larger"> ̝
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="lowered" type="button" title="lowered (Ctrl+↓)" class="larger"> ̞
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="advanced" type="button" title="advanced (fronted) (Ctrl+←)" class="larger"> ̟
  </button><button
      style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
      name="retracted" type="button" title="retracted (backed) (Ctrl+→)" class="larger"> ̠
  </button></span> <span style="display: inline;" id="typeit_showhiddenbuttons"
                         title="show more buttons">▼ more</span><span style="display: none;"
                                                                      id="typeit_hidehiddenbuttons"
                                                                      title="hide some buttons">▲ less</span>
  </div>
  <div style="display: none; visibility: hidden;" typeit_hidden="true">
    <div class="buttons">
              <span class="keyblock extra taller combining wider"><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="extra high" type="button" title="extra high" class="larger"> ̋
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="high" type="button" title="high" class="larger"> ́
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="mid" type="button" title="mid" class="larger"> ̄
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="low" type="button" title="low" class="larger"> ̀
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="extra low" type="button" title="extra low" class="larger"> ̏
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="rising" type="button" title="rising" class="larger"> ̌
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="falling" type="button" title="falling" class="larger"> ̂
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="high rising" type="button" title="high rising" class="larger"> ᷄
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="low rising" type="button" title="low rising" class="larger"> ᷅
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
                  name="rising-falling" type="button" title="rising-falling" class="larger"> ᷈
              </button></span><span class="keyblock extra taller combining"><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="ejective" type="button" title="ejective (hold Ctrl and press , [comma] four times)">ʼ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="dental" type="button" title="dental (Ctrl+Shift+D)" class="larger"> ̪
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="apical" type="button" title="apical (Ctrl+Shift+DD)" class="larger"> ̺
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="more rounded" type="button" title="more rounded (hold Ctrl+Shift and press ,)" class="larger"> ̹
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="less rounded" type="button" title="less rounded (hold Ctrl+Shift and press , twice)"
        class="larger"> ̜
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="mid-centralized" type="button" title="mid-centralized (Ctrl+Shift+X)" class="larger"> ̽
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="breathy voiced" type="button" title="breathy voiced (Ctrl+Shift+..)" class="larger"> ̤
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="creaky voiced" type="button" title="creaky voiced (Ctrl+Shift+SSS)" class="larger"> ̰
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="linguolabial" type="button" title="linguolabial (Ctrl+Shift+M)" class="larger"> ̼
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="velarized" type="button" title="velarized (Ctrl+Shift+Y)">ˠ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="pharyngealized" type="button" title="pharyngealized (Ctrl+Shift+2)">ˤ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="velarized or pharyngealized" type="button" title="velarized or pharyngealized (Ctrl+Shift+SS)"> ̴
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="nasal release" type="button" title="nasal release (Ctrl+Shift+N)">ⁿ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="lateral release" type="button" title="lateral release (Ctrl+Shift+L)">ˡ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="breathy-voice aspirated" type="button" title="breathy-voice aspirated (Ctrl+Shift+HH)">ʱ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="advanced tongue root" type="button" title="advanced tongue root (Ctrl+←←)" class="larger"> ̘
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="retracted tongue root" type="button" title="retracted tongue root (Ctrl+→→)" class="larger"> ̙
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="laminal" type="button" title="laminal (Ctrl+Shift+OOO)" class="larger"> ̻
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(30, 30, 30); transition: text-shadow 0.25s ease 0s;"
        name="not audibly released" type="button" title="not audibly released (Ctrl+Shift+7)" class="larger">̚
    </button></span>
    </div>
    <div class="buttons">
              <span class="keyblock extra taller wider"><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="extra high alt" type="button" title="extra high">˥
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="high alt" type="button" title="high">˦
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="mid alt" type="button" title="mid">˧
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="low alt" type="button" title="low">˨
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="extra low alt" type="button" title="extra low">˩
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="rising alt" type="button" title="rising">˩˥
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="falling alt" type="button" title="falling">˥˩
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="high rising alt" type="button" title="high rising">˦˥
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="low rising alt" type="button" title="low rising">˩˨
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="rising-falling alt" type="button" title="rising-falling">˧˦˧
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="downstep" type="button" title="downstep">↓
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="upstep" type="button" title="upstep">↑
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="global rise" type="button" title="global rise">↗
              </button><button
                  style="visibility: inherit; text-shadow: none; background-color: rgb(212, 212, 212); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
                  name="global fall" type="button" title="global fall">↘
              </button></span><span class="keyblock taller"><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="bilabial click" type="button" title="bilabial click (Ctrl+K)">ʘ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="dental click" type="button" title="dental click (Ctrl+KK)">ǀ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="retroflex click" type="button" title="retroflex click (Ctrl+KKK)">ǃ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="palatoalveolar click" type="button" title="palatoalveolar click (Ctrl+KKKK)">ǂ
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="alveolar lateral click" type="button" title="alveolar lateral click (Ctrl+KKKKK)">ǁ
    </button></span><span class="keyblock taller"><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="apostrophe" type="button" title="apostrophe (Ctrl+' / Ctrl+4)">’
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="high inverted quote" title="English-style opening quote (Ctrl+Shift+' / Ctrl+5)" type="button">“
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="high quote" title="English-style closing quote (hold Ctrl+Shift, press ' twice / Ctrl+55)"
        type="button">”
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="endash" title="Ctrl+Alt+- / Ctrl+6" type="button">–
    </button><button
        style="visibility: inherit; text-shadow: none; background-color: rgb(229, 229, 229); color: rgb(51, 51, 51); transition: text-shadow 0.25s ease 0s;"
        name="emdash" title="Hold Ctrl+Alt, press - twice / Ctrl+66" type="button">—
    </button></span>
    </div>
  </div>

  <script type="text/javascript">
    charButtonsSection = document.getElementById("typeit_buttons");
    setupShowMoreButtons();
  </script>
  </div>
  </td>
  </tr>
  </tbody>
  </table>

{% endblock %}
