{% extends 'thin/base.html' %}

{% load bootstrap %}

{% block content %}

<div class='row'>

  <form method="POST" action="{% url 'variety_delete' variety.id%} " class='pull-right'>
    {% csrf_token %}
    <input type="submit" value="Delete" class='btn btn-danger'/>
  </form>

  <div class='col-md-4'>

    <form method="POST" action="">
      {% csrf_token %}
      {{ form|bootstrap }}
      <input type="submit" value="Save Changes" class='btn btn-primary'/>
    </form>

  </div>
</div>

{% endblock %}
